* {
    /*border: 1px solid red;*/
    /*border-sizing: border-box;*/
}

body {
    background-color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}

p, nav {
    font-family: 'Abel', sans-serif;

}
.jumbotron {
    text-align: center;
}


/* screen sizes at or above medium */
@media only screen and (min-device-width : 768px) {
    .hide-on-md {
        display: none;
    }
}

/* screen sizes below medium */
@media only screen and (min-device-width: 522px) and (max-device-width : 768px) {
    .hide-on-sm {
        display: none;
    }

    nav img {
        position: relative;
        float: left;
        height: 50px;
        width: 50px;
        margin-left: 10px;
        margin-top: -10px;
        margin-bottom: -10px;
    }
}

@media only screen and (max-device-width: 522px) {
    .hide-on-xs {
        display: none;
    }

    div img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 75px;
        width: 75px;
    }

}




/*.stack {*/
/*height: 100px;*/
/*max-width: 20%;*/
/*float: initial;*/
/*}*/