* {
    /*border: 1px solid red;*/
    /*border-sizing: border-box;*/
    font-family: 'Abel', sans-serif;

}

body {
    background-color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}

p, nav {
    font-family: 'Abel', sans-serif;

}

#nav-bar-1 {
    margin-top: -60px;
}

#logo {
    position: relative;
    float: left;
    width: 100px;
    height: auto;
    margin: 0;
    left: -500px;
}

nav img {
    position: relative;
    float: left;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: -10px;
}

div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    width: 75px;
}

.dot {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid red;
    /*width: 50%;*/
    /*background-color: #eee;*/
    /*height: 15px;*/
    /*width: 15px;*/
    /*margin: 0 2px;*/
}

.dot-red {
    background-color: #E6563B;
}

.dot-orange {
    background-color: #EB9D3A;
}
.dot-green {
    background-color: #7CB06C;
}

.dot-blue {
    background-color: #00ABA9;
}

.dot-lg {
    /*margin: 0 4px;*/
    height: 200px;
    width: 200px;
}